body {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #1b2838;
    color: white;
    text-align: center;
}

#app{
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 1em;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

#userForm {
    text-align: center;
}

input, button {
    margin: 10px;
}

.userCard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
}

.userCard #avatar {
    grid-column: 1;
    grid-row: 1 / -1;
}

.userCard p, .userCard h2, .userCard h3 {
    margin: 0;
}

#gameTable {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#gameTable .tableHeading {
    text-align: center;
    float: none;
}

#gameTable .tableHeading th:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#gameTable .gameTile {
    background-color: rgba(0, 0, 0, 0.2);
}

#gameTable .gameTile img {
    float: left;
}

#gameTable td, #gameTable th {
    padding: 10px;
}

.gameTile {
    text-align: left;
}

.gameTitle img {
    width: auto;
    max-width: 184px;
}

.error {
    color: #a94847;
}

footer {
    text-align: center;
    background-color: #171a21;
    color: white;
    padding: 0.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ccc;
}